.queue-display{
    text-align:center;
    margin-top: 2em;
    font-size: 1.4em;
    margin: 2em;
}

.headerRow {
  background-color: #c2c2c2;
  line-height: 3em;
}
.item {
  padding: 0.5em 0;
}

div.odd {
  background-color: #03A9F455;

}