<div class="container-fluid queue-display">
  <div class="row headerRow">
      <span class="col-xs-3">Token ID</span>
      <span class="col-xs-3">PNR</span>
      <span class="col-xs-6">Name</span>
  </div>
  <div class="row" *ngFor="let record of queue.queue">
      <span class="col-xs-3">{{record.rank}}</span>
      <span class="col-xs-3">{{record.recLoc}}</span>
      <span class="col-xs-6">{{passengers[record.recLoc].lastName}}, {{passengers[record.recLoc].firstName}}</span>
  </div>
</div>